name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      # 1️⃣ Checkout repository
      - uses: actions/checkout@v4

      # 2️⃣ Set up Docker Buildx (optional, faster builds)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 3️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build \
            -f docker/Dockerfile \
            . \
            --tag px4_1.16_ros2_xrce_dds_image:ci \
            --progress=plain \
            --pull
